$dark: #252d3a;
$light-grey-blue: #aeb4be;
$battleship-grey: #77777a;
$teal: #009b94;
$ice: #e5f5f4;
$seafoam-blue: #76c1c1;
$very-light-pink: #b7b7b7;
$pale-grey: #edf0f5;
$black: #000000;
$teal-green: #259690;
$very-light-pink-two: #eaeaea;
$very-light-blue: #e2ebf5;
$duck-egg-blue: #dce7e6;
$greyish-brown: #505050;
$ice-blue: #eef2f2;
$very-light-pink-three: #f0f0f0;
$pale-aqua: #cae0de;
$very-light-pink-four: #bbbbbb;
$very-light-blue-two: #e4ebf2;
$very-light-pink-five: #f1f1f1;
$black-two: #333333;
$light-periwinkle: #dde2eb;
$pale-sky-blue: #d3e0ea;
$very-light-pink-six: #f2f2f2;
$bluish-grey: #77989d;
$pale-teal: #82d6c6;
$pale-blue: #e1eaea;
$duck-egg-blue-two: #d3e2e2;
$charcoal-grey: #434f4e;
$battleship-grey-two: #657776;
$soft-pink: #fc9eb7;
$pale-orange: #ffa25d;
$pink-red: #f71552;
$warm-pink: #fc5682;
$seafoam-blue-two: #71dfda;
$teal-green-two: #259691;
$pale-turquoise: #c6e1d9;
$greyish-teal: #58ada7;
$bluegreen: #007974;
$light-teal: #a2d0c9;
$tea: #56b391;
$seafoam-blue-three: #83cdce;
$pale-aqua-two: #cbdfde;
$deep-teal: #015e5a;
$seafoam-blue-four: #81c1ba;
$sea: #349d97;
$silver: #b9dbd3;
$deep-turquoise: #007873;
$light-light-blue: #d2f8f6;
$blue-green: #16a29c;
$dark-forest-green: #002c00;
$very-dark-green: #043206;
$pine-green: #0f4417;
$darkish-green: #226234;
$ocean-green: #3c8c5c;
$tea-two: #5cc08e;
$sea-68: #41a39dad;
$sea-53: #41a39d86;
$greyblue-27: #72bab346;
$light-teal-29: #9fcfc74a;
$silver-8: #bbdcd414;
$light-cyan: #bee6e5;
$teal-green-three: #279791;
$blue-green-two: #168f8a;
$white: #ffffff;
$very-light-blue-28: #dee9f348;
$pale-grey-two: #f2f4fa;
$pale-blue-two: #d9e6f2;
$light-periwinkle-two: #d9dee5;
$pale-aqua-three: #c6e0df;
$battleship-grey-three: #6b7078;
$very-light-pink-seven: #cccccc;
$very-light-pink-eight: #eeeeee;
$battleship-grey-four: #767b84;
