nav.GNB {
  .menu {
    .sub-menu {
      padding-bottom: 30px;
      a {
        padding: 0 34px;
      }
    }
    > .menu-item > a {
      @include respondTo("hg") {
        padding-right: 12px;
        padding-left: 12px;
        font-size: 18px;
      }
    }
  }
  .right {
    top: 41px;
  }
  // 검색창
  .btn_search {
    cursor: pointer;
  }
}
