footer.FNB {
  border-top: 1px solid $light-periwinkle-two;
  color: $light-grey-blue;
  @include Text-Style-61;
  background-color: $white;
  padding-top: 31px;
  padding-bottom: 40px;
  @include respondTo("lg") {
    @include Text-Style-2;
    padding: 32px 35px;
  }
  .iconCol {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include respondTo("sm") {
      justify-content: center;
    }
    @include respondTo("lg") {
      justify-content: flex-start;
      margin-bottom: 0px;
    }
  }
  .rightCol {
    display: flex;
    flex-direction: column;
    @include respondTo("sm") {
      align-items: center;
    }
    @include respondTo("lg") {
      align-items: flex-end;
    }
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    li:not(:last-child) {
      margin-right: 14px;
    }
  }
  ul.info {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 10px;
    li:first-child {
      margin-right: 0;
    }
    @include respondTo("sm") {
      align-items: center;
    }
    @include respondTo("lg") {
      margin-bottom: 0px;
    }
    @include respondTo("md") {
      flex-direction: unset;
      li:first-child {
        margin-right: 14px;
      }
    }
    li {
      margin-right: 0;
      margin-bottom: 4px;
      line-height: 1.6em;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
    a {
      color: $light-grey-blue;
      @include Text-Style-61;
      line-height: 1.6em;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 14px;
      }
      @include respondTo("lg") {
        @include Text-Style-2;
        line-height: 1.6em;
      }
    }
    strong {
      margin-right: 6px;
    }
  }
  .sns {
    margin-bottom: 20px;
    @include respondTo("lg") {
      margin-bottom: 4px;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: $light-grey-blue;
    }
  }
  .copyright {
    margin-bottom: 0;
    line-height: 1.2;
    margin-top: 10px;
    @include respondTo("sm") {
      text-align: right;
    }
  }
}
