// ACF Link
// /wp-admin/post.php?post=302&action=edit
@mixin iconList {
  // 아이콘 목록
  .iconListWrap {
    padding-top: 110px;
    .listItem {
      display: flex;
      .imgWrap {
        width: 100px;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        img {
          width: auto;
          max-height: 80px;
        }
      }
      .contentWrap {
        .title {
          color: $black-two;
          @include Text-Style-21;
          margin-bottom: 10px;
        }
        .content {
          color: $battleship-grey;
          @include Text-Style-27;
          strong {
            color: $black-two;
            @include Text-Style-17;
          }
        }
      }
    }
  }
}

@mixin videoList {
  //  유튜브, 비디오 목록
  .videoRootWrap {
    .slide {
      outline: none;
    }
    .vpreviewSlide {
      .slide {
        margin: 7.5px;
      }
      .videoWrap {
        padding-top: 56.6%;
        position: relative;
        video,
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }
    .vcontrolSlide {
      .slide {
        margin: 7.5px;
        cursor: pointer;
      }
      .slick-current .imgWrap img {
        border: 8px solid $teal;
      }
      .imgWrap {
        display: flex;
        align-items: center;
        background-color: $teal;
        margin-bottom: 20px;
        @supports (object-fit: cover) {
          padding-top: 56.6%;
          position: relative;
          img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .title {
        color: $black-two;
        @include Text-Style-21;
      }
    }
  }
}

@mixin effectList {
  // 효과 목록
  .listWrap {
    padding-top: 100px;
    justify-content: space-around;
    .listItem {
      padding: 0 30px;
    }
    .imgWrap {
      margin-bottom: 30px;
      img {
        height: 100px;
      }
    }
    .title {
      color: $black-two;
      @include Text-Style-21;
    }
    .content {
      color: $battleship-grey;
      @include Text-Style-27;
    }
  }
}
