html #wpadminbar {
  z-index: 99999999;
}
footer#colophon.site-footer,
a.skip-link.screen-reader-text,
#page header.site-header {
  display: none;
}

.pointColor {
  color: $teal !important;
}

img {
  max-width: 100%;
}
body a:hover {
  text-decoration: none;
  color:inherit;
}

// 반응형 유튜브
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}