@mixin Accordion {
  .menuWrap {
    display: flex;
    justify-content: center;
  }
  .accordionMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    @include respondTo("md") {
      justify-content: center;
    }
    li,
    .listitem {
      @include Text-Style-19;
      text-decoration: none;
      display: flex;
      color: $black-two;
      align-items: center;
      justify-content: center;
      border: 1px solid $very-light-pink-seven;
      margin: -0.5px;
      padding: 15px 4px 14px;
      cursor: pointer;
      width: 33.33%;
      position: relative;
      line-height: 1.2;
      word-break: keep-all;
      @include respondTo("md") {
        width: 100%;
        max-width: 150px;
      }
      &.active {
        background-color: $teal;
        border-color: $teal;
        color: $white;
        z-index: 2;
      }
    }
  }
  .accordionContent {
    padding: 50px 0;
    .active .itemList {
      display: flex;
      width: 100%;
    }
    .listRoot {
      .listContent div.listTitle {
        @include Text-Style-42;
      }
    }
    .itemList {
      flex-wrap: wrap;
      display: none;
      justify-content: center;
      &.style2 {
        @supports (gap: 120px) {
          gap: 60px;
        }
      }
      &.style1 {
        border: solid 1px $very-light-pink-eight;
        background-color: $white-two;
        justify-content: flex-start;
      }
      + .listContent {
        margin-top: 70px;
      }
      .listContent {
        width: 100%;
        scroll-margin: 75px;
        .listTitle {
          @include Text-Style-15;
          color: $dark;
          margin-bottom: 12px;
        }
        .description {
          color: $battleship-grey;
          @include Text-Style-16;
          margin-bottom: 10px;
        }
      }
      .empty {
        padding: 40px;
      }
      &.active {
        display: flex;
      }
    }
    .itemList.style1 {
      position: relative;
    }
    .itemList.style1 .item {
      width: 50%;
      padding-top: 50%;
      position: relative;
      border: solid 1px $very-light-pink-eight;
      background-color: $white;
      color: $black-two;
      transition: border 0.3s, color 0.3s;
      overflow: hidden;
      cursor: pointer;
      text-decoration: none;
      @supports not (gap: 120px) {
        box-sizing: content-box;
        padding: 60px;
      }
      &:hover {
        border: 1px solid $teal;
        color: $teal;
      }
      .imgWrap {
        padding: 0 35px;
        @include respondTo("lg") {
          padding: 0;
        }
      }
      img {
        max-width: 170px;
        width: 100%;
      }
      .innerWrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include Text-Style-19;
        @include respondTo("lg") {
          padding: 20px;
          position: relative;
          justify-content: space-between;
        }
      }
      @include respondTo("lg") {
        width: 277px;
        height: 277px;
        padding: 0;
      }
    }
    .itemList.style2 .item {
      width: 320px;
      text-align: center;
      .imgWrap {
        border-radius: 9999px;
        overflow: hidden;
        position: relative;
        padding-top: 100%;
        width: 100%;
        margin-bottom: 30px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          transform: translate(-50%, -50%);
          @supports (object-fit: cover) {
            object-fit: cover;
          }
        }
      }
      .title {
        @include Noto-Sans-KR---24pt;
        color: $dark;
        display: inline-block;
        margin-bottom: 9px;
        text-decoration: none;
        &:hover {
          color: $teal;
        }
      }
      p {
        @include Noto-Sans-KR---18pt;
        color: $battleship-grey;
      }
    }
  }
}
