main.equipmentSingle {
  .thumbnailBox {
    margin-bottom: 45px;
    @include respondTo("md") {
      margin-bottom: 0;
    }
    .slide {
      outline: none;
    }
    .imgWrap {
      display: flex;
      align-items: center;
      height: 100%;
      @supports (object-fit: cover) {
        padding-top: 100%;
        position: relative;
        img {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .previewSlide {
      margin-bottom: 20px;
      @include respondTo("md") {
        margin-bottom: 30px;
      }
    }
    .slick-arrow {
      z-index: 9;
      width: 17px;
      height: 29px;
      &:before {
        content: "";
        font-size: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
      }
      &.slick-prev {
        left: 0;
        &:before {
          background-image: url(#{$zeplin}/ic_arrow_prev.png);
        }
      }
      &.slick-next {
        right: 0;
        &:before {
          background-image: url(#{$zeplin}/ic_arrow_next.png);
        }
      }
    }
    .moreThumbnailSlide {
      .imgWrap {
        border: 1px solid $very-light-pink-eight;
        cursor: pointer;
      }
      .slick-current .imgWrap {
        border: 1px solid $teal;
      }
    }
  }
  .re > .title {
    color: $dark;
    @include Text-Style-21;
    margin-bottom: 20px;
  }
  .section1 {
    padding-top: 72px;
    padding-bottom: 30px;
    @include respondTo("md") {
      padding-bottom: 113px;
    }
    span.d {
      font-size: 18px;
      line-height: 3.33;
      letter-spacing: -1.08px;
      text-align: left;
      color: $battleship-grey;
    }
    .itemRow {
      margin-bottom: 70px;
    }
    .contentCol {
      .cat {
        color: $light-grey-blue;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -0.7px;
        text-align: left;
        margin-bottom: 10px;
        @include respondTo("md") {
          @include Text-Style-21;
        }
      }
      .title {
        color: $teal;
        font-family: Poppins;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 15px;
        word-break: keep-all;
        @include respondTo("md") {
          @include Text-Style-28;
        }
      }
      .h2_description {
        color: $dark;
        margin-bottom: 13px;
        @include Text-Style-63;
        text-align: left;
        word-break: keep-all;
        @include respondTo("md") {
          margin-bottom: 20px;
          @include Text-Style-18;
        }
      }
      .description {
        color: $battleship-grey;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: -0.8px;
        text-align: left;
        margin-bottom: 60px;
        word-break: keep-all;
        @include respondTo("md") {
          margin-bottom: 40px;
          @include Text-Style-29;
        }
      }
      .table {
        td,
        th {
          padding: 0;
        }
        th {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.7px;
          text-align: left;
          color: $dark;
          @include respondTo("md") {
            @include Text-Style-30;
          }
        }
        td {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: -0.7px;
          text-align: left;
          color: $battleship-grey;

          @include respondTo("md") {
            @include Text-Style-31;
          }
        }
        tr:first-child {
          th,
          td {
            border-top: 1px solid $black-two;
          }
        }
        tr:last-child {
          th,
          td {
            border-bottom: 1px solid $light-periwinkle-two;
          }
        }
      }
    }
    .rWrapItem {
      margin: -0.5px;
    }
    .rWrap {
      border: 1px solid $pale-grey;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      .title {
        color: $teal;
        @include Text-Style-32;
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 8px;
        word-break: keep-all;
      }
      ul.r {
        list-style: none;
        padding: 0;
        margin: 0;
        .name {
          @include Text-Style-33;
          color: $dark;
        }
        .value {
          @include Text-Style-34;
          color: $battleship-grey;
        }
        li:not(:last-child) {
          margin-bottom: 12px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .thumbnail {
          max-width: 180px;
        }
      }
    }
    // 테넌트 배너
    .banner_wrap {
      background-color: #edf0f5;
      margin-bottom: 70px;
      @include respondTo("md") {
        margin: 0 0 70px 0;
      }
    }
    .banner_container {
      padding: 40px 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include respondTo("md") {
        padding: 40px 40px;
      }
      > .col {
        display: flex;
        align-items: center;
      }
      ._text {
        font-size: 18px;
        font-weight: bold;
        color: #00a4cf;
        padding-left: 18px;
        @include respondTo("md") {
          font-size: 15px;
        }
      }
      ._arrow {
        width: 50%;
        max-width: 55px;
        height: 18px;
        margin-left: 20px;
        display: flex;
        background-image: url(#{$zeplin}/ic-arrow-blue.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
      }
    }
  }
  .section2 {
    background-color: $pale-grey;
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      @include respondTo("md") {
        padding-top: 130px;
        padding-bottom: 130px;
      }
    }
    .solution {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
      @include respondTo("md") {
        margin-bottom: 0;
      }
      .imgWrap {
        width: 270px;
        height: 270px;
        position: relative;
        border-radius: 99999px;
        overflow: hidden;
        margin-bottom: 30px;
        @include respondTo("md") {
          width: 320px;
          height: 320px;
        }
        img {
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @supports (object-fit: cover) {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .content {
        .title {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.3;
          letter-spacing: -1px;
          text-align: center;
          color: $dark;
          margin-bottom: 11px;

          @include respondTo("md") {
            margin-bottom: 9px;
            @include Noto-Sans-KR---24pt;
          }
        }
        .excerpt {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: -0.8px;
          text-align: center;
          color: $battleship-grey;

          @include respondTo("md") {
            @include Noto-Sans-KR---18pt;
          }
        }
      }
    }
  }
  .section3 {
    .container {
      // padding-top: 70px;
      padding-bottom: 70px;
      @include respondTo("md") {
        // padding-top: 130px;
        padding-bottom: 130px;
      }
    }
    .slide {
      outline: none;
    }
    .utilPreviewSlide {
      .slide {
        margin: 7.5px;
      }
      .videoWrap {
        padding-top: 56.6%;
        position: relative;
        video,
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }
    .controlSlide {
      .slide {
        margin: 7.5px;
        cursor: pointer;
      }
      .slick-current .imgWrap img {
        border: 8px solid $teal;
      }
      .imgWrap {
        display: flex;
        align-items: center;
        background-color: $teal;
        margin-bottom: 20px;
        @supports (object-fit: cover) {
          padding-top: 56.6%;
          position: relative;
          img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .title {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.86;
        letter-spacing: -0.7px;
        text-align: center;
        color: $black-two;

        @include respondTo("md") {
          @include Text-Style-21;
        }
      }
    }
  }
  .section4 {
    .container {
      padding-top: 70px;
      padding-bottom: 70px;
      @include respondTo("md") {
        padding-top: 130px;
        padding-bottom: 130px;
      }
    }
    .imgWrap {
      margin-bottom: 39px;
      display: block;
    }
    .location {
      color: $black-two;
      @include Text-Style-21;
      margin-bottom: 9px;
    }
    .title {
      color: $black-two;
      @include Text-Style-27;
      text-decoration: none;
      margin-bottom: 9px;
    }
    .excerpt {
      @include Text-Style-35;
      color: $battleship-grey;
    }
    .logoWrap {
      margin-top: 20px;
      display: inline-block;
      svg {
        width: 50px;
        fill: $light-periwinkle-two;
      }
    }

    .use {
      margin: 0;
      @include respondTo("md") {
        margin: 0 -15px;
      }
      .item {
        border-bottom: 1px solid $light-periwinkle-two;
        padding-bottom: 30px;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
        @include respondTo("md") {
          padding-bottom: 0px;
          border-bottom: 0;
          margin-bottom: 0;
          padding-left: 15px;
          padding-right: 15px;
        }
        .imgWrap {
          display: block;
          margin-bottom: 30px;
          @include respondTo("md") {
            margin-bottom: 39px;
          }
        }
        .location {
          color: $black-two;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 22px;
          font-weight: bold;
          @include respondTo("md") {
            @include Text-Style-21;
          }
          margin-bottom: 9px;
        }
        .title {
          color: $black-two;
          text-decoration: none;
          margin-bottom: 9px;
          font-size: 16px;
          display: inline-block;
          word-break: keep-all;
          @include respondTo("md") {
            @include Text-Style-27;
          }
        }
        .excerpt {
          @include Text-Style-35;
          color: $battleship-grey;
        }
        .logoWrap {
          margin-top: 20px;
          display: inline-block;
          svg {
            width: 50px;
            fill: $light-periwinkle-two;
          }
        }
      }
    }
  }
}
