body.post-type-archive-equipment_util header.pageHeader {
  background-color: $white;
}
main.equipmentUtil {
  .section {
    padding-top: 75px;
    padding-bottom: 130px;
  }
  .section {
    scroll-margin: 75px;
  }
  @include Accordion;
}
