body.post-type-archive-equipment_util header.pageHeader {
  background-color: $white;
}
main.equipmentUtil {
  .section {
    padding-top: 75px;
    padding-bottom: 70px;
    @include respondTo("md") {
      padding-bottom: 130px;
    }
  }
  .section {
    scroll-margin: 15px;
    @include respondTo("md") {
      scroll-margin: 75px;
    }
  }
  @include Accordion;
}
