main.equipmentSolutionSingle {
  p {
    font-family: AppleSDGothicNeo;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: $dark;
    @include respondTo("md") {
      @include Noto-Sans-KR---24pt-2;
    }
  }

  .section {
    padding-top: 70px;
    padding-bottom: 70px;
    @include respondTo("md") {
      padding-top: 130px;
      padding-bottom: 130px;
    }
  }
  .row {
    justify-content: center;
  }
  .wrap {
    margin-bottom: 110px;
    .imgWrapWrap {
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .imgWrap {
      width: 100%;
      padding-top: 100%;
      position: relative;
      border-radius: 9999px;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @supports (object-fit: cover) {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    .contentWrap {
      text-align: center;
      .title {
        color: $dark;
        display: inline-block;
        margin-bottom: 12px;
        text-decoration: none;
        font-family: NotoSansKR;
        font-size: 17px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: -0.85px;
        text-align: center;
        word-break: keep-all;

        @include respondTo("md") {
          color: $dark;
          margin-bottom: 10px;
          @include Noto-Sans-KR---24pt;
        }
      }
      .excerpt {
        color: $battleship-grey;
        word-break: keep-all;
        max-width: 320px;
        font-family: NotoSansKR;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: -0.84px;
        text-align: center;
        color: $battleship-grey;

        @include respondTo("md") {
          @include Noto-Sans-KR---18pt;
        }
      }
    }
  }

  .programTableH2 {
    color: $black-two;
    @include Text-Style-21;
    padding-bottom: 20px;
    border-bottom: 1px solid $black-two;
  }
  .programTable {
    &.row > div {
      padding-top: 26px;
      padding-bottom: 26px;
      border-bottom: 1px solid $light-periwinkle-two;
    }
    .name {
      @include Text-Style-30;
      line-height: 1.2;
    }
    .value {
      color: $battleship-grey;
      @include Text-Style-31;
      line-height: 1.2;
    }
  }
  @include effectList;
  @include iconList;
  @include videoList;
}
