.page.page-id-366 {
  .pageHeader .breadCrumbs {
    background-color: $white;
  }
  .pageHeader .content {
    background-color: $white;
    .title {
      p {
        text-align: left;
        max-width: none;

        font-family: "Noto Sans KR", sans-serif;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: -1.3px;
        text-align: left;
        color: $dark;
        @include respondTo("md") {
          @include Text-Style-38;
          color: $dark;
        }
      }
    }
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    .title + p {
      max-width: none;
      font-family: AppleSDGothicNeo;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: left;
      color: $black-three;
      @include respondTo("md") {
        @include Text-Style-37;
        color: $black-two;
      }
    }
  }
}
main.greeting {
  .container {
    padding-bottom: 130px;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }
  p {
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: $battleship-grey;
    text-align: justify;
    @include respondTo("md") {
      @include Text-Style-39;
      color: $battleship-grey;
    }
    strong {
      color: $dark;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
      text-align: left;
      display: inline-block;
      @include respondTo("md") {
        @include Text-Style-21;
      }
    }
  }
  .company {
    .comp {
      @include Text-Style-40;
      font-size: 21px;
      color: $black-two;
      margin-right: 20px;
      margin-bottom: 28px;
      display: inline-block;
    }
    .name {
      @include Text-Style-41;
      color: $black-two;
      font-size: 21px;
    }
  }
}
