header.default {
  position: relative;
  color: $white;
  padding-top: 82px;
  .coverBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
    @supports (object-fit: cover) {
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .container {
    z-index: 200;
    position: relative;
    width: 100%;
    padding: 130px 0;
    &.video {
      padding: 360px 0;
    }
    .title {
      @include Text-Style-11;
      margin-bottom: 15px;
    }
    .description {
      @include Text-Style-24;
    }
  }
}
header.pageHeader {
  .breadCrumbs {
    background-color: $pale-grey;
    border-bottom: 1px solid $light-periwinkle-two;
    color: $battleship-grey;
    line-height: 1;
    .home {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: $battleship-grey;

      height: 60px;
      padding: 20px;
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .container {
      display: flex;
      > * {
        border-right: 1px solid $light-periwinkle-two;
        &:first-child {
          border-left: 1px solid $light-periwinkle-two;
        }
      }
      .menuList {
        margin: 0;
        position: relative;
        &.show {
          background-color: $seafoam-blue;
          min-width: 200px;
          .dropdown-toggle {
            color: $white;
          }
        }
        .dropdown-toggle {
          height: 60px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
        }
        .list {
          display: block;
          padding: 20px;
          background-color: $seafoam-blue;
          margin: 0;
          color: $white;
          text-decoration: none;
          line-height: 1.2;
          border-top: 1px solid rgba($white, 0.2);
          &:hover {
            background-color: $teal;
            font-weight: bold;
            border-top: 1px solid $teal;
            & + .list {
              border-top: 1px solid $teal;
            }
          }
        }
        div[x-placement="top-start"].dropdown-menu {
          top: calc(-100% - 20px) !important;
        }
        .dropdown-menu {
          width: 100%;
          margin: 0;
          border-radius: 0;
          padding: 0;
          min-width: 0;
          border: none;
        }
      }
    }
  }
  .content {
    background-color: $pale-grey;
    @include Text-Style-13;
    padding-top: 48px;
    padding-bottom: 57px;
    p {
      max-width: 900px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .pointUnderLine {
      box-shadow: inset 0px -8px 0px 0px $pale-aqua-three;
    }
    .title {
      @include Text-Style-14;
      color: $teal;
    }
  }
}
