header.default {
  position: relative;
  color: $white;
  padding-top: 50px;
  @include respondTo("lg") {
    padding-top: 82px;
  }
  .coverBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
    }
    @supports (object-fit: cover) {
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .container {
    z-index: 200;
    position: relative;
    width: 100%;
    padding: 40px 0;
    &.video {
      padding: 180px 0;
    }
    @include respondTo("lg") {
      padding: 130px 0;
      &.video {
        padding: 360px 0;
      }
    }
    .title {
      font-family: NotoSansKR;
      font-size: 34px;
      font-weight: 900;
      text-align: center;
      @include respondTo("md") {
        @include Text-Style-11;
        margin-bottom: 30px;
      }
    }
    .description {
      font-family: NotoSansKR;
      font-size: 16px;
      font-weight: 500;
      text-align: center;

      @include respondTo("md") {
        @include Text-Style-24;
      }
    }
  }
}
header.pageHeader {
  .breadCrumbs {
    background-color: $pale-grey;
    border-bottom: 1px solid $light-periwinkle-two;
    color: $battleship-grey;
    line-height: 1;
    display: none;
    @include respondTo("md") {
      display: block;
    }
    .home {
      display: flex;
      align-items: center;
      justify-content: center;
      fill: $battleship-grey;

      height: 60px;
      padding: 20px;
      display: flex;
      align-items: center;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .container {
      display: flex;
      > * {
        border-left: 1px solid $light-periwinkle-two;
        &:last-child {
          border-right: 1px solid $light-periwinkle-two;
        }
      }
      .menuList {
        margin: 0;
        position: relative;
        &.show {
          background-color: $seafoam-blue;
          min-width: 200px;
          border: none;
          .dropdown-toggle {
            color: $white;
            &:after {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' viewBox='0 0 18 13'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:none;stroke:%23ffffff%7D %3C/style%3E%3C/defs%3E%3Cg id='icon-location-expand' transform='translate(-516.5 -517)'%3E%3Cpath id='선_306' d='M0 0L18 0' class='cls-1' transform='translate(516.5 517.5)'/%3E%3Cpath id='선_307' d='M0 0L18 0' class='cls-1' transform='translate(516.5 523.5)'/%3E%3Cpath id='선_308' d='M0 0L18 0' class='cls-1' transform='translate(516.5 529.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
          }
          & + .menuList {
            border-left: none;
          }
        }
        .dropdown-toggle {
          height: 60px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          &::after {
            margin-left: 20px;
            border: none;
            width: 18px;
            height: 13px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' viewBox='0 0 18 13'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:none;stroke:%23aeb4be%7D %3C/style%3E%3C/defs%3E%3Cg transform='translate(-516.5 -517)'%3E%3Cpath d='M0 0L18 0' class='cls-1' transform='translate(516.5 517.5)'/%3E%3Cpath d='M0 0L18 0' class='cls-1' transform='translate(516.5 523.5)'/%3E%3Cpath d='M0 0L18 0' class='cls-1' transform='translate(516.5 529.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        .list {
          display: block;
          padding: 20px;
          background-color: $seafoam-blue;
          margin: 0;
          color: $white;
          text-decoration: none;
          line-height: 1.2;
          border-top: 1px solid rgba($white, 0.2);
          &:hover {
            background-color: $teal;
            font-weight: bold;
            border-top: 1px solid $teal;
            & + .list {
              border-top: 1px solid $teal;
            }
          }
        }
        .dropdown-menu {
          width: 100%;
          margin: 0;
          border-radius: 0;
          padding: 0;
          min-width: 0;
          border: none;
        }
      }
    }
  }
  .content {
    background-color: $pale-grey;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: $black-three;
    word-break: keep-all;
    padding-top: 40px;
    padding-bottom: 40px;
    @include respondTo("md") {
      @include Text-Style-13;
      padding-top: 48px;
      padding-bottom: 57px;
    }
    p {
      max-width: 900px;
      margin: 0 auto;
      max-width: 300px;
      margin-bottom: 20px;

      @include respondTo("md") {
        max-width: 900px;
      }
    }
    .pointUnderLine {
      box-shadow: inset 0px -8px 0px 0px $pale-aqua-three;
    }
    .title {
      font-family: NotoSansKR;
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -1.3px;
      text-align: center;
      line-height: 1.46;
      color: $teal;
      @include respondTo("md") {
        @include Text-Style-14;
      }
    }
  }
}
