html.fp-enabled.fp-enabled.fp-enabled {
  @include respondTo("lg") {
    overflow: hidden !important;
    height: 100% !important;
  }
}
body.home > footer.FNB {
  display: none;
}

main.homepage {
  background-image: linear-gradient(
    to bottom,
    $pale-blue-two,
    $very-light-pink-six
  );
  @include FullpageMenu;

  .container {
    @include respondTo("hg") {
      max-width: 1300px;
    }
  }
  .sectionTitle {
    text-align: center;
    @include Text-Style-5;
    margin-bottom: 48px;
  }
  .section1 {
    position: relative;
    @include SlideNav;
    @include respondTo('lg') {
      padding-top:50px !important;
    }
    .container {
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
    }
    .tp-bullet-title {
        display:none;
    }
    rs-bullets.tp-bullets {
        @media screen and (max-width: 1024px) {
            transform: translate(55px, -255px) !important;
        }
        @media screen and (max-width: 778px) {
            transform: translate(30px, -160px) !important;
        }
        @media screen and (max-width: 480px) {
            transform: translate(20px, -255px) !important;
        }
    }
    .slide1 {
      // background: url(#{$zeplin}/main-graphic.svg);
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: right bottom;
    }
    .label {
      display: inline-block;
      background-color: $teal;
      color: $black-two;
      @include Text-Style-3;
      margin-bottom: 31px;
      padding-top: 2px;
      padding-right: 2px;
      line-height: 0.9;
    }
    .pointColor {
      color: $teal;
    }
    .title {
      color: $black-two;
      @include Text-Style-4;
    }
  }
  .section2 {
    background: url(#{$zeplin}/14.svg),
      linear-gradient(to bottom, $pale-aqua, $very-light-pink-three);
    background-size: 800px 800px, cover;
    background-repeat: no-repeat;
    background-position: 110% -80px, center;
    .container {
      height: 100%;
      .row > .col {
        transition: all 0.3s;
      }
    }
    @keyframes text_alpha {
      0% {
        opacity:0;
      }
      20% {
        opacity:0;
      }
      100% {
        opacity:1;
      }
    }
    .card {
      padding: 50px 34px;
      height: 100%;
      overflow: hidden;
      border: none;
      border-radius: 0;
      position: relative;
      transition:all 0.3s ease;
      &.active {
        padding: 50px;
        box-shadow: 20px 30px 20px 0px rgba(0, 0, 0, 0.3);
        .body {
          animation-name: text_alpha;
          animation-duration: 1s;
          animation-timing-function: ease;
        }
        .footer {
          margin-left: -54px;
          margin-right: -54px;
          margin-bottom: -54px;
          img {
            width: 100%;
            height: auto;
          }
          .imgWrap {
            all: unset;
          }
        }
        .head .btn {
          display: block;
        }
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        .title {
          color: $teal;
          @include Text-Style-6;
        }
        .btn {
          display: none;
        }
      }
      .body {
        margin-bottom: 30px;
        ul {
          display: flex;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: 0;
          img {
            height: 28px;
          }
          li:not(:last-child) {
            margin-right: 13px;
          }
        }
      }
      .footer {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .imgWrap {
          background-color: $ice-blue;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          height: 140px;
          width: 140px;
        }
        img {
          width: 65px;
          height: 65px;
        }
      }
    }
  }
  .section3 {
    @include slickCarouselVideo;
    .videoWrapper {
      padding-bottom: 100vh;
    }
  }
  .section4 {
    background: url(#{$zeplin}/14.svg),
      linear-gradient(to bottom, $pale-blue-two, $very-light-pink-six);
    background-size: 800px 800px, cover;
    background-repeat: no-repeat;
    background-position: 110% -80px, center;
    .sectionTitle {
      margin-bottom: 30px;
      padding-top: 40px;
    }
    .contentRow {
      margin-bottom: 60px;
    }
    .contactRow {
      margin-bottom: 30px;
    }
    .wrap {
      max-width: 260px;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      .imgWrap {
        overflow: hidden;
        border-radius: 9999px;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
      .title {
        margin-bottom: 15px;
        color: $teal;
        @include Text-Style-9;
      }
      p {
        margin-left: 0;
        color: $black-two;
        @include Text-Style-8;
      }
    }
    .contactWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      padding: 48px 40px;
      height: 100%;
      transition: all 0.3s;
      &:hover {
        box-shadow: 20px 30px 20px 0px rgba(0,0,0,0.3);
      }
      .innerWrap {
        display: flex;
        align-items: center;
      }
      .imgWrap {
        margin-right: 36px;
      }
      .title {
        @include Text-Style-10;
        color: $black-two;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
        @include Text-Style-7;
        color: $battleship-grey;
      }
    }
  }
}

.fp-viewing-thirdPage {
  .listStyle {
    &:hover,
    &.active {
      --color: $white;
    }
  }
}
