main.pageTemplate {
  .sectionTitle {
    margin-bottom: 50px;
    @include Text-Style-62;
    @include respondTo("sm") {
      margin-bottom: 70px;
      @include Text-Style-15;
    }
    &.important p {
      @include Text-Style-62;
      @include respondTo("sm") {
        @include Text-Style-15;
      }
      color: $dark;
      + p {
        @include Text-Style-16;
        color: $black;
        text-align: center;
        margin: 0 auto;
        padding-top: 22px;
        font-weight: normal;
        color: $battleship-grey;
      }
    }
    p {
      @include Text-Style-16;
      color: $black;
      text-align: center;
      margin: 0 auto;
      padding-top: 22px;
      font-weight: normal;
      color: $battleship-grey;
    }
    .subTitle {
      color: $battleship-grey;
      margin-top: 12px;
    }
  }
  &.non-result {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
