.page.page-id-442 {
  .pageHeader .breadCrumbs {
    background-color: $white;
  }
  .pageHeader .content {
    background-color: $white;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px;
    @include respondTo("md") {
      padding-bottom: 40px;
    }
    .title {
      p {
        text-align: left;
        max-width: none;
        color: $dark;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 26px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: -1.3px;
        text-align: left;
        margin-bottom: 0;
        @include respondTo("md") {
          @include Text-Style-38;
        }
      }
    }
    .title + p {
      max-width: none;
      @include Text-Style-37;
      color: $black-two;
    }
  }
}
main.office {
  .imgWrap {
    margin-bottom: 30px;
    @include respondTo("md") {
      margin-bottom: 50px;
    }
  }
  .content {
    word-break: keep-all;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: -0.85px;
    text-align: left;
    color: $battleship-grey;
    @include respondTo("md") {
      @include Text-Style-39;
    }
  }
  .section {
    margin-bottom: 70px;
    @include respondTo("md") {
      margin-bottom: 130px;
    }

    p,
    .content {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.87;
      letter-spacing: -0.75px;
      text-align: left;
      color: $battleship-grey;

      @include respondTo("md") {
        @include Text-Style-44;
      }
    }
    > .title {
      margin-bottom: 10px;
      font-family: Poppins;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: -1.4px;
      text-align: left;
      color: $teal;
      @include respondTo("md") {
        @include Text-Style-43;
      }
    }
    > .subtitle {
      color: $dark;
      margin-bottom: 30px;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      letter-spacing: -1.1px;
      text-align: left;
      @include respondTo("md") {
        @include Text-Style-18;
        margin-bottom: 50px;
      }
    }
  }
  .section1 {
    > .content {
      margin-bottom: 70px;
    }
    @include respondTo("md") {
      .columRoot .columWrap:nth-child(2n - 1) {
        .imgWrap {
          order: 2;
          margin-right: 0;
        }
        .contentWrap {
          margin-right: 50px;
          margin-left: 0;
        }
      }
      .columRoot .columWrap .contentWrap {
        margin-left: 50px;
      }
    }
    .columWrap {
      margin-bottom: 20px;
      @include respondTo("md") {
        display: flex;
        margin-bottom: 0;
      }
      > div:first-child {
        margin-bottom: 21px;
        @include respondTo("md") {
          margin-bottom: 0px;
          margin-right: 50px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 70px;
        @include respondTo("md") {
          margin-bottom: 48px;
        }
      }
      .imgWrap {
        position: relative;
        margin-bottom: 20px;
        @include respondTo("md") {
          margin-bottom: 0;
        }
      }
      .title {
        margin-bottom: 11px;
        color: $dark;
        @include Text-Style-17;
        line-height: 1.2;
        @include respondTo("md") {
          @include Text-Style-21;
          color: $black-two;
        }
      }
    }
  }
  .imgColum {
    display: flex;
    flex-direction: column;
    @include respondTo("md") {
      flex-direction: row;
    }
    // .imgWrap {
    //   margin-bottom: 10px;
    //   @include respondTo("md") {
    //     margin-bottom: inherit;
    //   }
    // }
    .imgWrap:not(:last-child) {
      @include respondTo("md") {
        margin-right: 15px;
      }
    }
  }
  .section2 {
    .imgColum {
      // margin-bottom: 50px;
    }
  }
  .section5 {
    p {
      color: $dark;
      @include Text-Style-18;

    }
  }
  .section6, .section7 {
    h1 {
      color: $dark;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 26px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.46;
      letter-spacing: -1.3px;
      text-align: left;

      @include respondTo("md") {
        @include Text-Style-38;
      }
    }
    h2 {
      color: $dark;
      @include Text-Style-17;

      @include respondTo("md") {
        @include Text-Style-21;
      }
    }
    .head {
      margin-bottom: 30px;
      @include respondTo("md") {
        margin-bottom: 80px;
      }
    }
  }
  .section6 {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      font-family: Poppins;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.44;
      letter-spacing: -0.9px;
      text-align: left;
      color: $battleship-grey;
      @include respondTo("md") {
        @include Text-Style-57;
      }
      li:not(:last-child) {
        margin-right: 16px;
      }
      .unit {
        font-weight: bold;
      }
    }
    .root_daum_roughmap {
      width: 100%;
      .wrap_controllers {
        display: none;
      }
      .wrap_map {
        height: 300px !important;
        @include respondTo("md") {
          height: 600px !important;
        }
      }
    }
  }
  .section7 {
    .head {
      .content {
        color: $battleship-grey;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: -0.8px;
        margin-bottom: 60px;

        @include respondTo("md") {
          margin-bottom: 30px;
          @include Text-Style-27;
        }
      }
    }
  }
}
