main.rentalCare {
  .section {
    padding: 130px 0 150px;
  }
  .section1 {
  }
  .section2 {
    background-color: $pale-grey;
    .title {
      @include Text-Style-18;
    }
    p {
      max-width: 400px;
      @include Text-Style-17;
      color: $battleship-grey-three;
      margin-bottom: 0;
    }
    .contentCol {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .row:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  .section3 {
    .accordionMenu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: center;
      li {
        @include Text-Style-19;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $very-light-pink-seven;
        border-bottom: 1px solid $very-light-pink-seven;
        border-right: 1px solid $very-light-pink-seven;
        min-width: 150px;
        padding: 6px 20px 0px;
        cursor: pointer;
        width: 100%;
        &:first-child {
          border-left: 1px solid $very-light-pink-seven;
        }
        &.active {
          background-color: $teal;
          border-color: $teal;
          color: $white;
        }
      }
    }
    .accordionContent {
      padding: 50px 0;
      .itemList {
        flex-wrap: wrap;
        display: none;
        &.active {
          display: flex;
        }
      }
      .item {
        width: 300px;
        height: 300px;
        @include Text-Style-19;
        padding: 20px;
        border: 1px solid transparent;
        color: $black-two;
        transition: border 0.3s, color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
        img {
          max-width: 170px;
        }
        &:hover {
          border: 1px solid $teal;
          color: $teal;
        }
      }
    }
  }
  .section4 {
    background-color: $pale-grey;
    .sectionTitle {
      @include Text-Style-20;
    }
    .row {
      padding: 90px 0;
      border-top: 1px solid $dark;
      border-bottom: 1px solid $dark;
    }
    .contentWrap {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .content {
        margin-right: 50px;
      }
      .title,
      a {
        @include Text-Style-21;
        color: $dark;
      }
      p {
        @include Text-Style-22;
        color: $battleship-grey;
      }
    }
  }
}
